[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
requests = "*"
nltk = "*"
python-pptx = "*"
docx2txt = "*"
toml = "*"
mongoengine = "*"
python-dateutil = "*"
dnspython = "*"
pathvalidate = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
